#game {
    overflow: hidden;
    position: relative;
}

.brew-window {
    font-family: 'Press Start 2P';
    font-size: 14pt;
    /*background: #f2decb;*/
    background: #4153db;
    border: white double 6px;
    color: white;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.brew-window b {
    color: #00ffff;
}

.brew-resources {
    font-size: 12pt;
    width: 300px;
    padding: 10px;
    margin: auto;
    position: relative;
    top: -450px;
    left: 300px;
    display: none;
    overflow: auto;
}

.brew-alert {
    width: 400px;
    padding: 10px;
    margin: auto;
    position: relative;
    top: -360px;
    display: none;
    overflow: auto;
}
        
.brew-letter {
    position: relative;
    display: none;
}  

.brew-button {
    width: 140px;
    margin: 10px;
    float: right;
    background: #BFA776;
    text-align: center;
    cursor: pointer;
}

.brew-messages {
    font-size: 20px;
    position: absolute;
    left: -5px;
    top: 100px;
    width: 200px;
    display: none;
}

.brew-messages h2 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
}

.brew-message {
    width: 170px;
    margin: 5px 0px;
    padding: 10px 4px 10px 24px; 
    left: -10px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
    position: relative;
    overflow: visible;
}

.brew-message-extended {
    left: 0px;
}

.brew-message-open {
    left: 0px;
    width: 290px;
    height: 140px;
}

.brew-message-body {
    width: 170px;
    left: -24px;
    font-size: 15px;
    padding: 10px 4px 10px 24px; 
    display: none;
    position: relative;
    z-index: 1;
    clear: both;
}

.brew-info-window {
    font-size: 9pt;
    position: absolute;    
    background: white;
    padding: 10px;
    display: none;
}

.brew-tutorial-window {
    font-size: 11pt;
    position: absolute;
    top: 20px;
    right: 150px;
    width: 480px;
    margin: 0 auto;
    padding: 10px 20px;
}

.brew-window input {
    display: block;
    width: 80%;
    font: 12pt 'Press Start 2P';
    color: azure;
    padding: 10px;
    margin: 15px 0;
    background: #3141aa;
    border: none;
}